extends layout
block content
	section
		if (user)
			each message in messages
				.messages
					.message-card
						.message-card-header
							p #{ message.user.username } -
							p #{ message.date_formatted }
						.message-card-contents
							p #{ message.title }
							p - #{ message.message }

		else
			h1 Log in first!
